<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ffg.backend.mapper.MemberMapper">

    <resultMap id="memberMap" type="com.ffg.backend.dto.Member">
        <result property="memberId" column="MEMBER_ID"/>
        <result property="pwd" column="PWD"/>
        <result property="role" column="ROLE"/>
        <result property="bankCode" column="BANK_CODE"/>
        <result property="email" column="EMAIL"/>
        <result property="phone" column="PHONE"/>
        <result property="regdte" column="REGDTE"/>
    </resultMap>

    <select id="findAll" resultMap="memberMap">
        SELECT MEMBER_ID, PWD, ROLE, BANK_CODE, EMAIL, PHONE, REGDTE
        FROM FFG_MEMBER
        ORDER BY REGDTE DESC
    </select>

    <select id="login" resultMap="memberMap">
        SELECT MEMBER_ID, PWD, ROLE, BANK_CODE, EMAIL, PHONE, REGDTE
        FROM FFG_MEMBER
        WHERE MEMBER_ID = #{memberId}
        AND PWD = #{pwd}
    </select>

    <insert id="insertMember" parameterType="com.ffg.backend.dto.Member">
        INSERT INTO FFG_MEMBER(MEMBER_ID, PWD, ROLE, BANK_CODE)
        VALUES(#{memberId},#{pwd},#{role},#{bankCode})
    </insert>

    <select id="findByMemberId" parameterType="string" resultMap="memberMap">
        SELECT MEMBER_ID, PWD, ROLE, BANK_CODE, EMAIL, PHONE, REGDTE
        FROM FFG_MEMBER
        WHERE MEMBER_ID = #{memberId}
    </select>

</mapper>